# Clippy configuration
# See: https://rust-lang.github.io/rust-clippy/master/index.html

# Complexity thresholds
cognitive-complexity-threshold = 25
too-many-arguments-threshold = 8
type-complexity-threshold = 250

# Allow these in test code
allow-dbg-in-tests = true
allow-print-in-tests = true
allow-expect-in-tests = true
allow-unwrap-in-tests = true
