// One Dark theme for Evildoer
// Based on Atom's One Dark theme
name one_dark
variant dark
aliases atom_one_dark one
// One Dark color palette
palette {
	// Background tones
	bg "#282C34"
	bg-dark "#21252B"
	bg-darker "#181A1F"
	cursorline "#2C313A"
	selection "#3E4451"
	// Foreground
	fg "#ABB2BF"
	// Accent colors
	red "#E06C75"
	green "#98C379"
	yellow "#E5C07B"
	blue "#61AFEF"
	purple "#C678DD"
	cyan "#56B6C2"
	orange "#D19A66"
	gray "#5C6370"
	// Cursor
	cursor-blue "#528BFF"
}
// Editor UI colors
ui {
	bg $bg
	fg $fg
	gutter-fg $gray
	cursor-bg $cursor-blue
	cursor-fg $bg
	cursorline-bg $cursorline
	selection-bg $selection
	selection-fg $fg
	message-fg $yellow
	command-input-fg $fg
	indent-guide-fg $gray
}
// Status bar colors
status {
	normal-bg $blue
	normal-fg $bg
	insert-bg $green
	insert-fg $bg
	goto-bg $purple
	goto-fg $bg
	view-bg $yellow
	view-fg $bg
	command-bg $orange
	command-fg $bg
	dim-fg $gray
	warning-fg $yellow
	error-fg $red
	success-fg $green
}
// Popup and menu colors
popup {
	bg $bg-dark
	fg $fg
	border $bg-darker
	title $blue
}
// Syntax highlighting
syntax {
	// Comments - gray italic
	comment fg=$gray mod=italic
	comment {
		line fg=$gray mod=italic
		block fg=$gray mod=italic
		block {
			documentation fg=$gray mod=italic
		}
	}
	// Keywords - red/purple
	keyword fg=$red
	keyword {
		control fg=$purple
		control {
			conditional fg=$purple
			repeat fg=$purple
			import fg=$red
			return fg=$purple
			exception fg=$purple
		}
		operator fg=$purple
		directive fg=$purple
		function fg=$cyan
		storage fg=$purple
		storage {
			type fg=$purple
			modifier fg=$purple
		}
	}
	// Functions - blue
	function fg=$blue
	function {
		builtin fg=$blue
		method fg=$blue
		macro fg=$purple
		special fg=$blue
	}
	// Types - yellow
	type fg=$yellow
	type {
		builtin fg=$yellow
		parameter fg=$yellow
		enum {
			variant fg=$cyan
		}
	}
	// Strings - green
	string fg=$green
	string {
		regexp fg=$green
		special fg=$orange
		special {
			path fg=$cyan
			url fg=$cyan mod=underlined
			symbol fg=$purple
		}
	}
	// Constants - orange
	constant fg=$cyan
	constant {
		builtin fg=$orange
		builtin {
			boolean fg=$orange
		}
		character fg=$orange
		character {
			escape fg=$orange
		}
		numeric fg=$orange
		numeric {
			integer fg=$orange
			float fg=$orange
		}
	}
	// Variables
	variable fg=$fg
	variable {
		builtin fg=$blue
		parameter fg=$red
		other fg=$fg
		other {
			member fg=$red
		}
	}
	// Operators and punctuation
	operator fg=$purple
	punctuation fg=$fg
	punctuation {
		bracket fg=$fg
		delimiter fg=$fg
		special fg=$cyan
	}
	// Other
	attribute fg=$yellow
	tag fg=$red
	namespace fg=$blue
	constructor fg=$blue
	label fg=$purple
	special fg=$blue
	// Markup (Markdown, etc.)
	markup {
		heading fg=$red mod=bold
		heading {
			"1" fg=$red mod=bold
			"2" fg=$orange mod=bold
			"3" fg=$yellow mod=bold
		}
		bold fg=$orange mod=bold
		italic fg=$purple mod=italic
		strikethrough fg=$gray mod=crossed-out
		link fg=$purple
		link {
			url fg=$cyan mod=underlined
			text fg=$purple
		}
		quote fg=$yellow mod=italic
		raw fg=$green
		raw {
			inline fg=$green
			block fg=$green
		}
		list fg=$red
	}
	// Diff
	diff {
		plus fg=$green
		minus fg=$red
		delta fg=$orange
	}
}
