[package]
name = "helix-db"
version = "1.2.7"
edition.workspace = true
description = "HelixDB is a powerful, open-source, graph-vector database built in Rust for intelligent data storage for RAG and AI."
license = "AGPL-3.0"
authors = ["HelixDB Team"]
repository = "https://github.com/HelixDB/helix-db"

[[bin]]
name = "helix-db-cli"
path = "src/bin/helix_db_cli.rs"
required-features = ["full"]

[features]
compiler = ["pest", "pest_derive", "ariadne"]
cosine = []
api-key = []
build = ["compiler"]
vectors = ["cosine", "url", "reqwest"]
server = [
    "build",
    "compiler",
    "vectors",
    "axum",
    "core_affinity",
    "flume",
    "sha2",
    "subtle",
]
full = ["build", "compiler", "vectors"]
dev = ["server"]
dev-instance = []
default = ["full"]
production = ["api-key", "server"]

[dependencies]
ariadne = { version = "0.6", optional = true }

# external dependencies (workspace)
axum = { version = "0.8", optional = true }
bumpalo = { version = "3.19", features = ["collections", "boxed", "serde"] }
bytemuck = "1.25"
bytes = "1.11"
chrono.workspace = true
core_affinity = { version = "0.8", optional = true }
flume = { version = "0.12", default-features = false, features = ["async", "select"], optional = true }
heed3 = "0.22"
# HelixDB dependencies
helix-macros = { path = "../macros" }
indexmap = { version = "2.13", features = ["serde"] }
inventory.workspace = true
itertools.workspace = true
mimalloc = "0.1"
paste.workspace = true

# compiler dependencies
pest = { version = "2.8", optional = true }
pest_derive = { version = "2.8", optional = true }

# external dependencies (crate-level)
postcard.workspace = true
rand.workspace = true

# embedding dependencies
reqwest = { version = "0.13", default-features = false, features = ["json", "blocking", "rustls", "webpki-roots"], optional = true }
serde.workspace = true
sha2 = { workspace = true, optional = true }
sonic-rs = "0.5"
subtle = { version = "2.6", optional = true }
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
twox-hash = "2.1"
url = { workspace = true, optional = true }
uuid = { workspace = true, features = ["serde", "v4", "v6", "fast-rng"] }

[dev-dependencies]
criterion.workspace = true
lazy_static = "1.5"
loom = "0.7"
num_cpus = "1.17"
proptest.workspace = true
rand.workspace = true
serial_test.workspace = true
tempfile.workspace = true
tokio-test = "0.4"
