[package]
name = "helix-db"
version = "1.2.7"
edition.workspace = true
description = "HelixDB is a powerful, open-source, graph-vector database built in Rust for intelligent data storage for RAG and AI."
license = "AGPL-3.0"
authors = ["HelixDB Team"]
repository = "https://github.com/HelixDB/helix-db"

[features]
debug-output = ["helix-macros/debug-output"]
compiler = ["pest", "pest_derive", "ariadne"]
cosine = []
api-key = []
build = ["compiler"]
vectors = ["cosine", "url", "reqwest"]
server = ["build", "compiler", "vectors", "axum"]
full = ["build", "compiler", "vectors"]
dev = ["debug-output", "server"]
dev-instance = []
default = ["full"]
production = ["api-key", "server"]

[dependencies]
ariadne = { version = "0.6", optional = true }

# external dependencies (workspace)
async-trait.workspace = true
axum = { version = "0.8.8", optional = true }

# external dependencies (crate-level)
postcard.workspace = true
bumpalo = { version = "3.19.1", features = ["collections", "boxed", "serde"] }
bytemuck = "1.25.0"
bytes = "1.11.0"
chrono.workspace = true
core_affinity = "0.8.3"
flume = { version = "0.12.0", default-features = false, features = ["async", "select"] }
heed3 = "0.22.0"
# HelixDB dependencies
helix-macros = { path = "../macros" }
indexmap = { version = "2.13", features = ["serde"] }
inventory.workspace = true
itertools = "0.14.0"
mimalloc = "0.1.48"
paste.workspace = true

# compiler dependencies
pest = { version = "2.8", optional = true }
pest_derive = { version = "2.8", optional = true }
rand.workspace = true
rayon = "1.11.0"

# embedding dependencies
reqwest = { version = "0.13.1", default-features = false, features = ["json", "blocking", "rustls", "webpki-roots"], optional = true }
serde.workspace = true
sha2.workspace = true
sonic-rs = "0.5.6"
subtle = "2.6"
tempfile.workspace = true
thiserror.workspace = true
tokio.workspace = true
tokio-util.workspace = true
tracing.workspace = true
twox-hash = "2.1.2"
url = { workspace = true, optional = true }
uuid = { workspace = true, features = ["serde", "v4", "v6", "fast-rng"] }

[dev-dependencies]
criterion = "0.8"
lazy_static = "1.5.0"
loom = "0.7"
num_cpus = "1.17"
proptest.workspace = true
rand.workspace = true
serial_test.workspace = true
tokio-test = "0.4"
