[package]
name = "xeno-registry-menus"
description = "Menu registry"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
linkme.workspace = true
paste.workspace = true
xeno-registry-core.workspace = true
