// Gruvbox Dark theme for Evildoer
// Based on https://github.com/morhetz/gruvbox
name gruvbox
variant dark
aliases gruvbox_dark gruvbox-dark
// Gruvbox color palette
palette {
	// Background tones
	bg0-hard "#1d2021"
	bg0 "#282828"
	bg0-soft "#32302f"
	bg1 "#3c3836"
	bg2 "#504945"
	bg3 "#665c54"
	bg4 "#7c6f64"
	// Foreground tones
	fg0 "#fbf1c7"
	fg1 "#ebdbb2"
	fg2 "#d5c4a1"
	fg3 "#bdae93"
	fg4 "#a89984"
	// Accent colors
	red "#fb4934"
	green "#b8bb26"
	yellow "#fabd2f"
	blue "#83a598"
	purple "#d3869b"
	aqua "#8ec07c"
	orange "#fe8019"
	gray "#928374"
	// Bright variants
	red-bright "#fb4934"
	green-bright "#b8bb26"
	yellow-bright "#fabd2f"
	blue-bright "#83a598"
	purple-bright "#d3869b"
	aqua-bright "#8ec07c"
	orange-bright "#fe8019"
	// Dark variants
	red-dark "#cc241d"
	green-dark "#98971a"
	yellow-dark "#d79921"
	blue-dark "#458588"
	purple-dark "#b16286"
	aqua-dark "#689d6a"
	orange-dark "#d65d0e"
}
// Editor UI colors
ui {
	bg $bg0
	fg $fg1
	gutter-fg $gray
	cursor-bg $fg1
	cursor-fg $bg0
	cursorline-bg $bg0-soft
	selection-bg $bg2
	selection-fg $fg1
	message-fg $yellow
	command-input-fg $fg1
	indent-guide-fg $bg4
}
// Status bar colors
status {
	normal-bg $blue
	normal-fg $bg0
	insert-bg $green
	insert-fg $bg0
	goto-bg $purple
	goto-fg $bg0
	view-bg $orange
	view-fg $bg0
	command-bg $yellow
	command-fg $bg0
	dim-fg $gray
	warning-fg $yellow
	error-fg $red
	success-fg $green
}
// Popup and menu colors
popup {
	bg $bg0-soft
	fg $fg1
	border $gray
	title $green
}
// Syntax highlighting
syntax {
	// Comments - gray italic
	comment fg=$gray mod=italic
	comment {
		line fg=$gray mod=italic
		block fg=$gray mod=italic
		block {
			documentation fg=$gray mod=italic
		}
	}
	// Keywords - red
	keyword fg=$red
	keyword {
		control fg=$red
		control {
			conditional fg=$red
			repeat fg=$red
			import fg=$red
			return fg=$red
			exception fg=$red
		}
		operator fg=$red
		function fg=$aqua
		storage fg=$orange
		storage {
			type fg=$yellow
			modifier fg=$orange
		}
	}
	// Functions - green
	function fg=$green
	function {
		builtin fg=$green
		method fg=$green
		macro fg=$aqua
		special fg=$green
	}
	// Types - yellow
	type fg=$yellow
	type {
		builtin fg=$yellow
		parameter fg=$yellow
		enum {
			variant fg=$aqua
		}
	}
	// Strings - green
	string fg=$green
	string {
		regexp fg=$green
		special fg=$orange
		special {
			path fg=$aqua
			url fg=$aqua mod=underlined
			symbol fg=$purple
		}
	}
	// Constants - purple
	constant fg=$purple
	constant {
		builtin fg=$purple
		builtin {
			boolean fg=$purple
		}
		character fg=$purple
		character {
			escape fg=$orange
		}
		numeric fg=$purple
		numeric {
			integer fg=$purple
			float fg=$purple
		}
	}
	// Variables - blue
	variable fg=$blue
	variable {
		builtin fg=$orange
		parameter fg=$blue
		other fg=$blue
		other {
			member fg=$blue
		}
	}
	// Operators and punctuation
	operator fg=$aqua
	punctuation fg=$fg1
	punctuation {
		bracket fg=$fg1
		delimiter fg=$fg1
		special fg=$orange
	}
	// Other
	attribute fg=$aqua
	tag fg=$aqua
	namespace fg=$blue
	constructor fg=$yellow
	label fg=$aqua
	special fg=$orange
	// Markup (Markdown, etc.)
	markup {
		heading fg=$yellow mod=bold
		heading {
			"1" fg=$red mod=bold
			"2" fg=$orange mod=bold
			"3" fg=$yellow mod=bold
		}
		bold fg=$orange mod=bold
		italic fg=$purple mod=italic
		strikethrough fg=$gray mod=crossed-out
		link fg=$aqua
		link {
			url fg=$aqua mod=underlined
			text fg=$purple
		}
		quote fg=$gray mod=italic
		raw fg=$green
		raw {
			inline fg=$green
			block fg=$green
		}
		list fg=$red
	}
	// Diff
	diff {
		plus fg=$green
		minus fg=$red
		delta fg=$yellow
	}
}
