// Monokai theme for Evildoer
// Based on the classic Monokai color scheme
name monokai
variant dark
aliases monokai_extended
// Monokai color palette
palette {
	// Background tones
	bg "#272822"
	bg-dark "#1E1F1C"
	cursorline "#31322C"
	selection "#49483E"
	// Foreground
	fg "#F8F8F2"
	fg-bright "#F8F8F0"
	// Accent colors
	red "#F92672"
	green "#A6E22E"
	yellow "#E6DB74"
	blue "#66D9EF"
	purple "#AE81FF"
	orange "#FD971F"
	gray "#75715E"
}
// Editor UI colors
ui {
	bg $bg
	fg $fg
	gutter-fg $gray
	cursor-bg $fg-bright
	cursor-fg $bg
	cursorline-bg $cursorline
	selection-bg $selection
	selection-fg $fg
	message-fg $yellow
	command-input-fg $fg
}
// Status bar colors
status {
	normal-bg $blue
	normal-fg $bg
	insert-bg $green
	insert-fg $bg
	goto-bg $purple
	goto-fg $fg
	view-bg $orange
	view-fg $bg
	command-bg $yellow
	command-fg $bg
	dim-fg $gray
	warning-fg $orange
	error-fg $red
	success-fg $green
}
// Popup and menu colors
popup {
	bg $bg-dark
	fg $fg
	border $gray
	title $yellow
}
// Syntax highlighting
syntax {
	// Comments - gray
	comment fg=$gray
	comment {
		line fg=$gray
		block fg=$gray
		block {
			documentation fg=$gray
		}
	}
	// Keywords - red
	keyword fg=$red
	keyword {
		control fg=$red
		control {
			conditional fg=$red
			repeat fg=$red
			import fg=$red
			return fg=$red
			exception fg=$red
		}
		operator fg=$red
		directive fg=$red
		function fg=$blue
		storage fg=$red
		storage {
			type fg=$blue
			modifier fg=$red
		}
	}
	// Functions - green
	function fg=$green
	function {
		builtin fg=$green
		method fg=$green
		macro fg=$green
		special fg=$green
	}
	// Types - blue italic
	type fg=$blue mod=italic
	type {
		builtin fg=$blue mod=italic
		parameter fg=$blue mod=italic
		enum {
			variant fg=$blue
		}
	}
	// Strings - yellow
	string fg=$yellow
	string {
		regexp fg=$yellow
		special fg=$orange
		special {
			path fg=$yellow
			url fg=$yellow mod=underlined
			symbol fg=$purple
		}
	}
	// Constants - purple
	constant fg=$purple
	constant {
		builtin fg=$purple
		builtin {
			boolean fg=$purple
		}
		character fg=$purple
		character {
			escape fg=$purple
		}
		numeric fg=$purple
		numeric {
			integer fg=$purple
			float fg=$purple
		}
	}
	// Variables
	variable fg=$fg
	variable {
		builtin fg=$orange
		parameter fg=$orange mod=italic
		other fg=$fg
		other {
			member fg=$fg
		}
	}
	// Operators and punctuation
	operator fg=$red
	punctuation fg=$fg
	punctuation {
		bracket fg=$fg
		delimiter fg=$fg
		special fg=$red
	}
	// Other
	attribute fg=$green
	tag fg=$red
	namespace fg=$fg
	constructor fg=$green
	label fg=$fg
	special fg=$blue
	// Markup (Markdown, etc.)
	markup {
		heading fg=$orange mod=bold
		heading {
			"1" fg=$red mod=bold
			"2" fg=$orange mod=bold
			"3" fg=$yellow mod=bold
		}
		bold fg=$orange mod=bold
		italic fg=$yellow mod=italic
		strikethrough fg=$gray mod=crossed-out
		link fg=$blue
		link {
			url fg=$blue mod=underlined
			text fg=$purple
		}
		quote fg=$gray mod=italic
		raw fg=$green
		raw {
			inline fg=$green
			block fg=$green
		}
		list fg=$red
	}
	// Diff
	diff {
		plus fg=$green
		minus fg=$red
		delta fg=$orange
	}
}
