// Solarized Dark theme for Evildoer
// Based on https://ethanschoonover.com/solarized/
name solarized_dark
variant dark
aliases solarized
// Solarized color palette
palette {
	// Background tones (dark)
	base03 "#002B36"
	base02 "#073642"
	base01 "#586E75"
	base00 "#657B83"
	// Foreground tones
	base0 "#839496"
	base1 "#93A1A1"
	base2 "#EEE8D5"
	base3 "#FDF6E3"
	// Accent colors
	yellow "#B58900"
	orange "#CB4B16"
	red "#DC322F"
	magenta "#D33682"
	violet "#6C71C4"
	blue "#268BD2"
	cyan "#2AA198"
	green "#859900"
}
// Editor UI colors
ui {
	bg $base03
	fg $base0
	gutter-fg $base01
	cursor-bg $base1
	cursor-fg $base03
	cursorline-bg $base02
	selection-bg $base02
	selection-fg $base1
	message-fg $yellow
	command-input-fg $base0
}
// Status bar colors
status {
	normal-bg $blue
	normal-fg $base03
	insert-bg $green
	insert-fg $base03
	goto-bg $magenta
	goto-fg $base3
	view-bg $cyan
	view-fg $base03
	command-bg $yellow
	command-fg $base03
	dim-fg $base01
	warning-fg $orange
	error-fg $red
	success-fg $green
}
// Popup and menu colors
popup {
	bg $base02
	fg $base0
	border $base01
	title $yellow
}
// Syntax highlighting
syntax {
	// Comments - base01 italic
	comment fg=$base01 mod=italic
	comment {
		line fg=$base01 mod=italic
		block fg=$base01 mod=italic
		block {
			documentation fg=$base01 mod=italic
		}
	}
	// Keywords - green
	keyword fg=$green
	keyword {
		control fg=$green
		control {
			conditional fg=$green
			repeat fg=$green
			import fg=$orange
			return fg=$green
			exception fg=$orange
		}
		operator fg=$green
		directive fg=$orange
		function fg=$green
		storage fg=$green
		storage {
			type fg=$yellow
			modifier fg=$green
		}
	}
	// Functions - blue
	function fg=$blue
	function {
		builtin fg=$blue
		method fg=$blue
		macro fg=$orange
		special fg=$blue
	}
	// Types - yellow
	type fg=$yellow
	type {
		builtin fg=$yellow
		parameter fg=$yellow
		enum {
			variant fg=$cyan
		}
	}
	// Strings - cyan
	string fg=$cyan
	string {
		regexp fg=$red
		special fg=$orange
		special {
			path fg=$cyan
			url fg=$cyan mod=underlined
			symbol fg=$magenta
		}
	}
	// Constants - violet/magenta
	constant fg=$cyan
	constant {
		builtin fg=$violet
		builtin {
			boolean fg=$violet
		}
		character fg=$cyan
		character {
			escape fg=$red
		}
		numeric fg=$magenta
		numeric {
			integer fg=$magenta
			float fg=$magenta
		}
	}
	// Variables
	variable fg=$base0
	variable {
		builtin fg=$orange
		parameter fg=$base0
		other fg=$base0
		other {
			member fg=$base0
		}
	}
	// Operators and punctuation
	operator fg=$green
	punctuation fg=$base0
	punctuation {
		bracket fg=$base0
		delimiter fg=$base0
		special fg=$red
	}
	// Other
	attribute fg=$orange
	tag fg=$blue
	namespace fg=$orange
	constructor fg=$yellow
	label fg=$green
	special fg=$orange
	// Markup (Markdown, etc.)
	markup {
		heading fg=$orange mod=bold
		heading {
			"1" fg=$red mod=bold
			"2" fg=$orange mod=bold
			"3" fg=$yellow mod=bold
		}
		bold fg=$orange mod=bold
		italic fg=$violet mod=italic
		strikethrough fg=$base01 mod=crossed-out
		link fg=$violet
		link {
			url fg=$cyan mod=underlined
			text fg=$blue
		}
		quote fg=$cyan mod=italic
		raw fg=$cyan
		raw {
			inline fg=$cyan
			block fg=$cyan
		}
		list fg=$magenta
	}
	// Diff
	diff {
		plus fg=$green
		minus fg=$red
		delta fg=$yellow
	}
}
