// Language Server Protocol manifest and configurations.
// Each node name is the LSP server identifier, referenced in languages.kdl via `language-servers`.
//
// Format:
//   server-name "command" { ... }   - when command differs from server name
//   server-name { ... }             - when command equals server name
//   server-name                     - simple server with no args/config
//
// Fields (in order):
//   args    - Command-line arguments
//   source  - URL to the project repository or homepage
//   nix     - Nixpkgs attribute path for the package, or #false if not available
//   environment - Environment variables
//   config  - LSP initialization options
// Ada
ada-gpr-language-server ada_language_server {
	args --language-gpr
	source "https://github.com/AdaCore/ada_language_server"
	// install via alire or from source
	nix #false
}
ada-language-server ada_language_server {
	source "https://github.com/AdaCore/ada_language_server"
	// install via alire or from source
	nix #false
}
// AML (API Modeling Language)
als {
	source "https://github.com/aml-org/als"
	nix #false
}
amber-lsp {
	source "https://github.com/amber-lang/amber"
	nix amber-lang
}
ameba-ls {
	source "https://github.com/crystal-ameba/ameba"
	nix ameba
}
angular ngserver {
	args --stdio --tsProbeLocations . --ngProbeLocations .
	source "https://github.com/angular/vscode-ng-language-service"
	nix angular-language-server
}
asm-lsp {
	source "https://github.com/bergercookie/asm-lsp"
	nix asm-lsp
}
awk-language-server {
	source "https://github.com/Beaglefoot/awk-language-server"
	nix awk-language-server
}
// Bash/Shell
bash-language-server {
	args start
	source "https://github.com/bash-lsp/bash-language-server"
	nix bash-language-server
}
// Bass
bass {
	args --lsp
	source "https://github.com/vito/bass"
	nix #false
}
// Beancount
beancount-language-server {
	source "https://github.com/polarmutex/beancount-language-server"
	nix beancount-language-server
}
// Bicep
bicep-langserver {
	source "https://github.com/Azure/bicep"
	nix bicep
}
// Bitbake
bitbake-language-server {
	source "https://github.com/Freed-Wu/bitbake-language-server"
	nix #false
}
// Buf (Protobuf)
buf {
	args lsp serve --timeout "0"
	source "https://github.com/bufbuild/buf"
	nix buf
}
// Cairo
cairo-language-server {
	source "https://github.com/starkware-libs/cairo"
	nix cairo
}
// Circom
circom-lsp {
	source "https://github.com/rubydusa/circom-lsp"
	nix #false
}
// Common Lisp
cl-lsp {
	source "https://github.com/cxxxr/cl-lsp"
	nix #false
}
// C/C++
clangd {
	source "https://clangd.llvm.org/"
	nix clang-tools
}
// Clojure
clojure-lsp {
	source "https://github.com/clojure-lsp/clojure-lsp"
	nix clojure-lsp
}
// CMake
cmake-language-server {
	source "https://github.com/regen100/cmake-language-server"
	nix cmake-language-server
}
neocmakelsp {
	args stdio
	source "https://github.com/neocmakelsp/neocmakelsp"
	nix neocmakelsp
}
// CodeQL
codeql {
	args execute language-server "--check-errors=ON_CHANGE"
	source "https://github.com/github/codeql"
	nix codeql
}
// Git commit messages
commit-lsp {
	args run
	source "https://github.com/texel-sensei/commit-lsp"
	nix #false
}
// Crystal
crystalline {
	args --stdio
	source "https://github.com/elbywan/crystalline"
	nix crystalline
}
// Smithy
cs {
	args launch --contrib smithy-language-server -- "0"
	source "https://github.com/coursier/coursier"
	nix coursier
}
// C#
csharp-ls {
	source "https://github.com/razzmatazz/csharp-language-server"
	nix csharp-ls
}
omnisharp OmniSharp {
	args --languageserver
	source "https://github.com/OmniSharp/omnisharp-roslyn"
	nix omnisharp-roslyn
}
// CUE
cuelsp {
	source "https://github.com/cue-lang/cue"
	nix cue
}
// Dart
dart {
	args language-server "--client-id=helix"
	source "https://github.com/dart-lang/sdk"
	nix dart
}
// Dhall
dhall-lsp-server {
	source "https://github.com/dhall-lang/dhall-haskell"
	nix dhall-lsp-server
}
// Django
djlsp {
	source "https://github.com/fourdigits/django-template-lsp"
	nix #false
}
// Docker
docker-langserver {
	args --stdio
	source "https://github.com/rcjsuen/dockerfile-language-server-nodejs"
	nix dockerfile-language-server-nodejs
}
docker-compose-langserver {
	args --stdio
	source "https://github.com/microsoft/compose-language-service"
	nix docker-compose-language-service
}
docker-language-server {
	args start --stdio
	source "https://github.com/docker/docker-language-server"
	nix #false
}
// DOT (Graphviz)
dot-language-server {
	args --stdio
	source "https://github.com/nikeee/dot-language-server"
	nix dot-language-server
}
// Device Tree
dts-lsp {
	source "https://github.com/igor-prusov/dts-lsp"
	nix #false
}
// Earthly
earthlyls {
	source "https://github.com/glehmann/earthlyls"
	nix earthlyls
}
// Eiffel (using Gobo's gelsp as eiffel-language-server is not publicly available)
eiffel-language-server gelsp {
	source "https://github.com/gobo-eiffel/gobo"
	nix #false
}
// Elixir
elixir-ls {
	source "https://github.com/elixir-lsp/elixir-ls"
	nix elixir-ls
	config {
		elixirLS {
			dialyzerEnabled #false
		}
	}
}
expert {
	source "https://github.com/elixir-lang/expert"
	nix #false
}
// Elm
elm-language-server {
	source "https://github.com/elm-tooling/elm-language-server"
	nix elmPackages.elm-language-server
}
// Erlang
elp {
	args server
	source "https://github.com/WhatsApp/erlang-language-platform"
	nix erlang-language-platform
}
erlang-ls erlang_ls {
	source "https://github.com/erlang-ls/erlang_ls"
	nix #false
}
// Elvish
elvish {
	args -lsp
	source "https://github.com/elves/elvish"
	nix elvish
}
// Fennel
fennel-ls {
	source "https://git.sr.ht/~xerool/fennel-ls"
	nix fennel-ls
}
// Fish
fish-lsp {
	args start
	source "https://github.com/ndonfris/fish-lsp"
	nix fish-lsp
	environment {
		fish_lsp_show_client_popups "false"
	}
}
// Sway (Fuel)
forc {
	args lsp
	source "https://github.com/FuelLabs/sway"
	nix sway
}
// Forth
forth-lsp {
	source "https://github.com/alexanderbrevig/forth-lsp"
	nix #false
}
// Fortran
fortls {
	args --lowercase_intrinsics
	source "https://github.com/fortran-lang/fortls"
	nix fortls
}
// F#
fsharp-ls fsautocomplete {
	source "https://github.com/fsharp/FsAutoComplete"
	nix fsautocomplete
	config {
		AutomaticWorkspaceInit #true
	}
}
// GitLab CI
gitlab-ci-ls {
	source "https://github.com/alesbrelih/gitlab-ci-ls"
	nix gitlab-ci-ls
}
// Gleam
gleam {
	args lsp
	source "https://github.com/gleam-lang/gleam"
	nix gleam
}
// GLSL
glsl_analyzer {
	source "https://github.com/nolanderc/glsl_analyzer"
	nix glsl_analyzer
}
// GraphQL
graphql-language-service graphql-lsp {
	args server -m stream
	source "https://github.com/graphql/graphiql"
	nix graphql-language-service-cli
}
// Hare
hare-lsp harepls {
	args -S
	source "https://sr.ht/~tomleb/harepls/"
	nix #false
}
// Harper (prose linting)
harper-ls {
	args --stdio
	source "https://github.com/elijah-potter/harper"
	nix harper
}
// Haskell
haskell-language-server haskell-language-server-wrapper {
	args --lsp
	source "https://github.com/haskell/haskell-language-server"
	nix haskell-language-server
}
// HDL (Note: helix references 'hdls' but this doesn't seem to exist publicly.
// The closest is vhdl_ls from rust_hdl, which is already defined as vhdl_ls below)
hdls {
	source "https://github.com/VHDL-LS/rust_hdl"
	nix #false
}
// Hyprland
hyprls {
	source "https://github.com/hyprland-community/hyprls"
	nix hyprls
}
// Hy (Python Lisp)
hyuga {
	source "https://github.com/sakuraiyuta/hyuga"
	nix #false
}
// Idris
idris2-lsp {
	source "https://github.com/idris-community/idris2-lsp"
	nix idris2Packages.idris2Lsp
}
// PHP
intelephense {
	args --stdio
	source "https://github.com/bmewburn/vscode-intelephense"
	nix nodePackages.intelephense
}
// Java
jdtls {
	source "https://github.com/eclipse-jdtls/eclipse.jdt.ls"
	nix jdt-language-server
}
// Python
jedi jedi-language-server {
	source "https://github.com/pappasam/jedi-language-server"
	nix python3Packages.jedi-language-server
}
pylsp {
	source "https://github.com/python-lsp/python-lsp-server"
	nix python3Packages.python-lsp-server
}
pyrefly {
	args lsp
	source "https://github.com/facebook/pyrefly"
	nix #false
}
pyright pyright-langserver {
	args --stdio
	source "https://github.com/microsoft/pyright"
	nix pyright
}
basedpyright basedpyright-langserver {
	args --stdio
	source "https://github.com/DetachHead/basedpyright"
	nix basedpyright
}
pylyzer {
	args --server
	source "https://github.com/mtshiba/pylyzer"
	nix pylyzer
}
ty {
	args server
	source "https://github.com/astral-sh/ty"
	nix #false
}
ruff {
	args server
	source "https://github.com/astral-sh/ruff"
	nix ruff
}
// jq
jq-lsp {
	source "https://github.com/wader/jq-lsp"
	nix jq-lsp
}
// Jsonnet
jsonnet-language-server {
	args -t --lint
	source "https://github.com/grafana/jsonnet-language-server"
	nix jsonnet-language-server
}
// Julia
julia timeout=60 {
	args "--startup-file=no" "--history-file=no" --quiet -e "using LanguageServer; runserver()"
	source "https://github.com/julia-vscode/LanguageServer.jl"
	nix julia
}
// Just
just-lsp {
	source "https://github.com/casey/just"
	nix just
}
// Koka
koka {
	args --language-server --lsstdio
	source "https://github.com/koka-lang/koka"
	nix koka
}
// Koto
koto-ls {
	source "https://github.com/koto-lang/koto"
	nix koto
}
// Kotlin
kotlin-lsp {
	args --stdio
	source "https://github.com/Kotlin/kotlin-lsp"
	nix #false
}
kotlin-language-server {
	source "https://github.com/fwcd/kotlin-language-server"
	nix kotlin-language-server
}
// Lean
lean lake {
	args serve
	source "https://github.com/leanprover/lean4"
	nix lean4
}
// LaTeX/LTeX
ltex-ls {
	source "https://github.com/valentjn/ltex-ls"
	nix ltex-ls
}
ltex-ls-plus {
	source "https://github.com/ltex-plus/ltex-ls-plus"
	nix ltex-ls-plus
}
texlab {
	source "https://github.com/latex-lsp/texlab"
	nix texlab
}
// Markdown
markdoc-ls {
	args --stdio
	source "https://github.com/markdoc/language-server"
	nix #false
}
markdown-oxide {
	source "https://github.com/Feel-ix-343/markdown-oxide"
	nix markdown-oxide
}
marksman {
	args server
	source "https://github.com/artempyanykh/marksman"
	nix marksman
}
rumdl {
	args server
	source "https://github.com/rvben/rumdl"
	nix #false
}
// Scala
metals {
	source "https://github.com/scalameta/metals"
	nix metals
	config {
		isHttpEnabled #true
		metals {
			inlayHints {
				typeParameters {
					enable #true
				}
				hintsInPatternMatch {
					enable #true
				}
			}
		}
	}
}
// Meson
mesonlsp {
	args --lsp
	source "https://github.com/JCWasmx86/mesonlsp"
	nix mesonlsp
}
// Mint
mint {
	args tool ls
	source "https://github.com/mint-lang/mint"
	nix mint
}
// Mojo
mojo-lsp-server pixi {
	args run mojo-lsp-server
	source "https://github.com/modularml/mojo"
	nix pixi
}
// Nix
nil {
	source "https://github.com/oxalica/nil"
	nix nil
}
nixd {
	source "https://github.com/nix-community/nixd"
	nix nixd
}
// Nickel
nls {
	source "https://github.com/tweag/nickel"
	nix nickel
}
// Nushell
nu-lsp nu {
	args --lsp
	source "https://github.com/nushell/nushell"
	nix nushell
}
// OCaml
ocamllsp {
	source "https://github.com/ocaml/ocaml-lsp"
	nix ocamlPackages.ocaml-lsp
}
// Odin
ols {
	source "https://github.com/DanielGavin/ols"
	nix ols
}
// JavaScript/TypeScript linting
oxlint-language-server oxlint {
	args --lsp
	source "https://github.com/oxc-project/oxc"
	nix oxlint
}
// OpenSCAD
openscad-lsp {
	args --stdio
	source "https://github.com/Leathong/openscad-LSP"
	nix openscad-lsp
}
// Pascal
pasls {
	source "https://github.com/genericptr/pascal-language-server"
	nix #false
}
// Protobuf
pbkit pb {
	args lsp
	source "https://github.com/pbkit/pbkit"
	nix #false
}
protols {
	source "https://github.com/coder3101/protols"
	nix #false
}
// Perl
perlnavigator {
	args --stdio
	source "https://github.com/bscan/PerlNavigator"
	nix perlnavigator
}
// Pest
pest-language-server {
	source "https://github.com/pest-parser/pest-ide-tools"
	nix pest-ide-tools
}
// Pkl
pkl-lsp {
	source "https://github.com/apple/pkl"
	nix pkl
}
// Prisma
prisma-language-server {
	args --stdio
	source "https://github.com/prisma/language-tools"
	nix nodePackages.prisma
	config {
		prisma {
			enableDiagnostics #true
		}
	}
}
// PureScript
purescript-language-server {
	args --stdio
	source "https://github.com/nwolverson/purescript-language-server"
	// install via npm
	nix #false
}
// QML
qmlls {
	source "https://doc.qt.io/qt-6/qtqml-tooling-qmlls.html"
	nix qt6.qtdeclarative
}
// Quint
quint-language-server {
	args --stdio
	source "https://github.com/informalsystems/quint"
	nix #false
}
// R
r R {
	args --no-echo -e "languageserver::run()"
	source "https://github.com/REditorSupport/languageserver"
	nix rPackages.languageserver
}
// Racket
racket {
	args -l racket-langserver
	source "https://github.com/jeapostrophe/racket-langserver"
	nix racket
}
// Rego (OPA)
regols {
	source "https://github.com/kitagry/regols"
	nix regols
}
// ReScript
rescript-language-server {
	args --stdio
	source "https://github.com/rescript-lang/rescript-vscode"
	nix #false
}
// Ripple
ripple-lsp ripple-language-server {
	args --stdio
	source "https://github.com/Ripple-TS/ripple"
	nix #false
}
// Robot Framework
robotframework_ls {
	source "https://github.com/robocorp/robotframework-lsp"
	// available as vscode extension
	nix #false
}
// RON
ron-lsp {
	source "https://github.com/jasonjmcghee/ron-lsp"
	nix #false
}
// Ruby
ruby-lsp {
	source "https://github.com/Shopify/ruby-lsp"
	nix rubyPackages.ruby-lsp
}
solargraph {
	args stdio
	source "https://github.com/castwide/solargraph"
	nix rubyPackages.solargraph
}
// rshtml
rshtml-analyzer {
	args --stdio
	source "https://github.com/rshtml/rshtml-analyzer"
	nix #false
}
// D
serve-d {
	source "https://github.com/Pure-D/serve-d"
	nix serve-d
}
// Slang
slangd {
	source "https://github.com/shader-slang/slang"
	nix slang
}
// Slint
slint-lsp {
	source "https://github.com/slint-ui/slint"
	nix slint-lsp
}
// systemd
systemd-lsp {
	source "https://github.com/JFryy/systemd-lsp"
	nix #false
}
// Solidity
solc {
	args --lsp
	source "https://github.com/ethereum/solidity"
	nix solc
}
// Swift
sourcekit-lsp {
	source "https://github.com/apple/sourcekit-lsp"
	nix sourcekit-lsp
}
// Spade
spade-language-server {
	source "https://gitlab.com/spade-lang/spade"
	nix spade
}
// Starlark
starpls {
	source "https://github.com/withered-magic/starpls"
	nix #false
}
// SystemVerilog
svlangserver {
	source "https://github.com/imc-trading/svlangserver"
	// svls is available instead
	nix #false
}
// Prolog
swipl {
	args -g "use_module(library(lsp_server))" -g lsp_server:main -t halt -- stdio
	source "https://github.com/jamesnvc/lsp_server"
	nix swi-prolog
}
// HTML
superhtml {
	args lsp
	source "https://github.com/kristoff-it/superhtml"
	nix #false
}
vscode-html-language-server {
	args --stdio
	source "https://github.com/microsoft/vscode-html-languageservice"
	nix vscode-langservers-extracted
	config {
		provideFormatter #true
	}
}
// Tailwind CSS
tailwindcss-ls tailwindcss-language-server {
	args --stdio
	source "https://github.com/tailwindlabs/tailwindcss-intellisense"
	nix tailwindcss-language-server
}
// TOML
taplo {
	args lsp stdio
	source "https://github.com/tamasfe/taplo"
	nix taplo
}
tombi {
	args lsp
	source "https://github.com/tombi-toml/tombi"
	nix #false
}
// Templ (Go)
templ {
	args lsp
	source "https://github.com/a-h/templ"
	nix templ
}
// Terraform
terraform-ls {
	args serve
	source "https://github.com/hashicorp/terraform-ls"
	nix terraform-ls
}
// TypeSpec
typespec tsp-server {
	args --stdio
	source "https://github.com/microsoft/typespec"
	nix #false
}
// Vala
vala-language-server {
	source "https://github.com/vala-lang/vala-language-server"
	nix vala-language-server
}
// Vale (prose)
vale-ls {
	source "https://github.com/errata-ai/vale-ls"
	nix vale-ls
}
// VHDL
vhdl_ls {
	source "https://github.com/VHDL-LS/rust_hdl"
	nix vhdl-ls
}
// V
vlang-language-server v-analyzer {
	source "https://github.com/vlang/v-analyzer"
	nix #false
}
// CSS
vscode-css-language-server {
	args --stdio
	source "https://github.com/microsoft/vscode-css-languageservice"
	nix vscode-langservers-extracted
	config {
		provideFormatter #true
		css {
			validate {
				enable #true
			}
		}
	}
}
// JSON
vscode-json-language-server {
	args --stdio
	source "https://github.com/microsoft/vscode-json-languageservice"
	nix vscode-langservers-extracted
	config {
		provideFormatter #true
		json {
			validate {
				enable #true
			}
		}
	}
}
// Vue
vuels vue-language-server {
	args --stdio
	source "https://github.com/vuejs/language-tools"
	nix vue-language-server
	config {
		typescript {
			tsdk "node_modules/typescript/lib/"
		}
	}
}
// WGSL
wgsl-analyzer {
	source "https://github.com/wgsl-analyzer/wgsl-analyzer"
	nix wgsl-analyzer
}
// Wikitext
wikitext-lsp {
	args --stdio
	source "https://github.com/bhsd-harry/vscode-extension-wikiparser"
	nix #false
}
// YAML
yaml-language-server {
	args --stdio
	source "https://github.com/redhat-developer/yaml-language-server"
	nix yaml-language-server
}
// YARA
yls {
	args -vv
	source "https://github.com/avast/yls"
	nix #false
}
// Zig
zls {
	source "https://github.com/zigtools/zls"
	nix zls
}
// Blueprint (GNOME)
blueprint-compiler {
	args lsp
	source "https://gitlab.gnome.org/jwestman/blueprint-compiler"
	nix blueprint-compiler
}
// Typst
tinymist {
	source "https://github.com/Myriad-Dreamin/tinymist"
	nix tinymist
}
// Tree-sitter queries
ts_query_ls {
	source "https://github.com/ribru17/ts_query_ls"
	nix #false
}
// Termux
termux-language-server {
	source "https://github.com/termux/termux-language-server"
	nix #false
}
// Helm
helm_ls {
	args serve
	source "https://github.com/mrjosh/helm-ls"
	nix helm-ls
}
// Ember
ember-language-server {
	args --stdio
	source "https://github.com/emberwatch/ember-language-server"
	nix ember-language-server
}
// Teal
teal-language-server {
	source "https://github.com/teal-language/teal-language-server"
	nix #false
}
// WebAssembly
wasm-language-tools wat_server {
	source "https://github.com/g-plane/wasm-language-tools"
	nix #false
}
// SourcePawn
sourcepawn-studio {
	source "https://github.com/Sarrus1/sourcepawn-studio"
	nix #false
}
// Luau
luau luau-lsp {
	args lsp
	source "https://github.com/JohnnyMorganz/luau-lsp"
	nix luau-lsp
}
// Ansible
ansible-language-server {
	args --stdio
	source "https://github.com/ansible/ansible-language-server"
	// install via npm
	nix #false
}
// Astro
astro-ls {
	args --stdio
	source "https://github.com/withastro/language-tools"
	nix astro-language-server
	config {
		typescript {
			tsdk "node_modules/typescript/lib"
		}
	}
}
// Lua
lua-language-server {
	source "https://github.com/LuaLS/lua-language-server"
	nix lua-language-server
	config {
		Lua {
			hint {
				enable #true
				arrayIndex Enable
				setType #true
				paramName All
				paramType #true
				await #true
			}
		}
	}
}
// Go
gopls {
	source "https://github.com/golang/tools/tree/master/gopls"
	nix gopls
	config {
		hints {
			assignVariableTypes #true
			compositeLiteralFields #true
			constantValues #true
			functionTypeParameters #true
			parameterNames #true
			rangeVariableTypes #true
		}
	}
}
golangci-lint-lsp golangci-lint-langserver {
	source "https://github.com/nametake/golangci-lint-langserver"
	nix golangci-lint-langserver
	config {
		command golangci-lint run "--output.json.path=stdout" "--show-stats=false" "--issues-exit-code=1"
	}
}
// Rust
rust-analyzer {
	source "https://github.com/rust-lang/rust-analyzer"
	nix rust-analyzer
	config {
		inlayHints {
			bindingModeHints {
				enable #false
			}
			closingBraceHints {
				minLines 10
			}
			closureReturnTypeHints {
				enable with_block
			}
			discriminantHints {
				enable fieldless
			}
			lifetimeElisionHints {
				enable skip_trivial
			}
			typeHints {
				hideClosureInitialization #false
			}
		}
		files {
			watcher server
		}
	}
}
// TypeScript/JavaScript
typescript-language-server {
	args --stdio
	source "https://github.com/typescript-language-server/typescript-language-server"
	nix typescript-language-server
	config {
		hostInfo helix
		typescript {
			inlayHints {
				includeInlayEnumMemberValueHints #true
				includeInlayFunctionLikeReturnTypeHints #true
				includeInlayFunctionParameterTypeHints #true
				includeInlayParameterNameHints all
				includeInlayParameterNameHintsWhenArgumentMatchesName #true
				includeInlayPropertyDeclarationTypeHints #true
				includeInlayVariableTypeHints #true
			}
		}
		javascript {
			inlayHints {
				includeInlayEnumMemberValueHints #true
				includeInlayFunctionLikeReturnTypeHints #true
				includeInlayFunctionParameterTypeHints #true
				includeInlayParameterNameHints all
				includeInlayParameterNameHintsWhenArgumentMatchesName #true
				includeInlayPropertyDeclarationTypeHints #true
				includeInlayVariableTypeHints #true
			}
		}
	}
}
// Svelte
svelteserver {
	args --stdio
	source "https://github.com/sveltejs/language-tools"
	nix svelte-language-server
	config {
		configuration {
			typescript {
				inlayHints {
					parameterTypes {
						enabled #true
					}
					variableTypes {
						enabled #true
					}
					propertyDeclarationTypes {
						enabled #true
					}
					functionLikeReturnTypes {
						enabled #true
					}
					enumMemberValues {
						enabled #true
					}
					parameterNames {
						enabled all
					}
				}
			}
			javascript {
				inlayHints {
					parameterTypes {
						enabled #true
					}
					variableTypes {
						enabled #true
					}
					propertyDeclarationTypes {
						enabled #true
					}
					functionLikeReturnTypes {
						enabled #true
					}
					enumMemberValues {
						enabled #true
					}
					parameterNames {
						enabled all
					}
				}
			}
		}
	}
}
// ESLint
vscode-eslint-language-server {
	args --stdio
	source "https://github.com/microsoft/vscode-eslint"
	nix vscode-langservers-extracted
	config {
		validate on
		run onType
		nodePath ""
		experimental {
			useFlatConfig #false
		}
		problems {
			shortenToSingleLine #false
		}
		codeAction {
			disableRuleComment {
				enable #true
				location separateLine
			}
			showDocumentation {
				enable #true
			}
		}
		workingDirectory {
			mode location
		}
	}
}
// Clarity
clarinet {
	args lsp
	source "https://github.com/hirosystems/clarinet"
	nix #false
}
// KCL
kcl-lsp kcl-language-server {
	args server --stdio
	source "https://github.com/kcl-lang/kcl"
	nix kcl
}
