[package]
name = "evildoer-registry"
description = "Registry-first organization for Evildoer editor extensions"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
evildoer-registry-menus.workspace = true
evildoer-registry-motions.workspace = true
evildoer-registry-options.workspace = true
evildoer-registry-notifications.workspace = true
evildoer-registry-commands.workspace = true
evildoer-registry-panels.workspace = true
evildoer-registry-hooks.workspace = true
evildoer-registry-statusline.workspace = true
evildoer-registry-text-objects.workspace = true
